@import "../../styles/colors";

.app-tab-layout-container {
  width: 100%;
  min-height: 600px;
  padding: 25px;

  .nav.nav-tabs {
    border: none;

    .nav-item {
      cursor: pointer;
      margin-bottom: 0;
      font-weight: bolder;
      color: $darkGray;

      .nav-link {
        border-top: 3px solid;
        border-color: transparent;
        border-radius: 0;
        border-left: 0;
        border-right: 0;

        &.active {
          border-top-color: $primaryColor;
        }
      }
    }
  }

  .tab-content {
    background-color: white;
    min-height: 600px;
    padding: 15px;
  }
}