@import "../../styles/colors";

.app-root-layout {
  .app-layout-container {
    display: flex;
    flex-direction: column;
    background-color: $lightGray;
    min-height: 100vh;
    margin-left: 250px;
    &.app-layout-container-collapsed {
      margin-left: 70px;
    }
  }
}
