@import "../../styles/colors";

.app-root-layout {
  .app-layout-container {
    background-color: $lightGray;
    height: 100vh;

    margin-left: 250px;
    &.app-layout-container-collapsed {
      margin-left: 70px;
    }
  }
}
