@import "../../../../styles/colors";

.app-menu-item-container {
  display: inline-flex;
  color: $lightGray2;
  width: 100%;
  padding: 15px 24px;
  cursor: pointer;
  transition: 0.5s;

  &:hover {
    color: $white;
    background-color: $darkGrayNav1;
  }

  .app-menu-tem-icon-container {
    margin-right: 10px;
  }

  .app-menu-item-label {

  }
}
