@import "../../styles/colors";

.app-items-count-selector {
  display: flex;
  color: $darkGray;

  select {
    width: 75px;
  }

  .app-counter-label {
    margin: 0 0 0 10px;
    padding: 7px;
  }
}
